@media only screen and (max-width: 600px) {
    #main , #nav-bar , #footer {
        flex-direction: column;
    }
    #company-name {
        display: none;
    }
    .nav-link{
        text-align: center;
    }
  }

* {
    box-sizing: border-box;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f7f7f7;
}
#header {
    width: 100%;
    background-color:#232323;
    padding: 30px;
}
#header-img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}
#logo-div {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
#company-name {
    color: #acacac;
    margin-left: 20px ;
    align-self: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 30px;
    font-weight: bolder;
}
#footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #232323;
    color: #acacac;
}
#footer-links {
    flex:2;
    line-height: 30px;
    margin-left: 50px;
}

.footer-link {
    text-decoration: none;
    color: #acacac;    
}
#main {
    display: flex;
}
#product-description {
    flex:1;
    padding: 20px;
    margin: 20px;
}
#car-img {
    width: 100%;
    height: auto;
}
#img-div {
    flex: 1;
    align-self: center;
}
#nav-bar {
    display: flex;
    justify-content: center;  
}   
.nav-link{
    margin: 10px 30px 0px 30px;
    text-decoration: none;
    color: #acacac;
    background-color: #232323;
    padding: 10px;
}
.nav-link:hover {
    opacity: 0.7;
}

#form {
    text-align: center;
    padding: 10px;
    flex: 1;
    box-shadow: 5px 10px 20px grey;
}
#form > input[type=email] {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px;
}
#form > input[type=submit] {
    margin: auto;
    padding: 10px 20px 10px 20px;
}
a:hover {
    opacity: 0.7;
}