@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
#header {
    width: 100%;
    background-color:#4267B2;
    padding: 30px;
}
#header-img {
    display: block;
    width: 100px;
    height: auto;
    margin: auto;
    border-radius: 50%;
}
#footer {
    width:100%;
    padding: 50px;
    background-color: #4267B2;
}
#product-main {
    display: flex;
}
#video, #product-description {
    flex:1;
    padding: 20px;
    margin: 20px;
}
#nav-bar {
    display: flex;
    justify-content: center;   
}   
.nav-link{
    margin: 10px 30px 0px 30px;
    text-decoration: none;
    background-color: lavender;
    padding: 10px;
}
.nav-link:hover {
    opacity: 0.7;
}

#form {
    padding: 10px;
    margin: 10px;
    width: 25%;
    border : 1px solid black;
}
#form > input[type=email] {
    width: 100%;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    padding: 20px;
}
#form > input[type=submit] {
    margin: auto;
    padding: 10px 20px 10px 20px;
}